
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/SWP391_GROUP6/nbproject/private/
/SWP391_GROUP6/build/
/SWP391_GR6/nbproject/private/
/SWP391_GR6/build/
/SWP391/nbproject/private/
/SWP391/build/
/SWP391/dist/
/SWP391_GR6/dist/
