<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ForgetPasswordController</servlet-name>
        <servlet-class>controller.accesscontrol.ForgetPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasswordController</servlet-name>
        <servlet-class>controller.accesscontrol.PasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>controller.usermanagement.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppointmentCalendarServlet</servlet-name>
        <servlet-class>controller.appointment.AppointmentCalendarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForgetPasswordController</servlet-name>
        <url-pattern>/forgetpassword</url-pattern>
    </servlet-mapping>
    <display-name>SWP391 Web Application</display-name>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.accesscontrol.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.accesscontrol.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.accesscontrol.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppointmentDoctorListController</servlet-name>
        <servlet-class>controller.appointment.AppointmentDoctorListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppointmentConfirmServlet</servlet-name>
        <servlet-class>controller.appointment.AppointmentConfirmServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasswordController</servlet-name>
        <url-pattern>/changepass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppointmentDoctorListController</servlet-name>
        <url-pattern>/appointment/doctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppointmentConfirmServlet</servlet-name>
        <url-pattern>/appointment/confirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppointmentCalendarServlet</servlet-name>
        <url-pattern>/appointment</url-pattern>
    </servlet-mapping>
</web-app>
