<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet-mapping>
        <servlet-name>SearchDoctor</servlet-name>
        <url-pattern>/admin/SearchDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorMedicalConsultation</servlet-name>
        <url-pattern>/admin/DoctorMedicalConsultation</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/error404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error500.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/error403.jsp</location>
    </error-page>
    <servlet>
        <servlet-name>ForgetPasswordController</servlet-name>
        <servlet-class>controller.accesscontrol.ForgetPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAccountCreateController</servlet-name>
        <servlet-class>controller.HRController.UserAccountCreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffAccountListController</servlet-name>
        <servlet-class>controller.HRController.StaffAccountListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>controller.customermanagement.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCustomer</servlet-name>
        <servlet-class>controller.doctor.SearchCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLoginController</servlet-name>
        <servlet-class>controller.systemaccesscontrol.UserLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogoutController</servlet-name>
        <servlet-class>controller.systemaccesscontrol.UserLogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCustomerMedicalDetail</servlet-name>
        <servlet-class>controller.doctor.ShowCustomerMedicalDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendApplication</servlet-name>
        <servlet-class>controller.doctor.SendApplication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateMedicalHistory</servlet-name>
        <servlet-class>controller.doctor.CreateCustomerMedicalHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppointmentListController</servlet-name>
        <servlet-class>controller.appointment.AppointmentListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppointmentCancelController</servlet-name>
        <servlet-class>controller.appointment.AppointmentCancelController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppointmentRescheduleController</servlet-name>
        <servlet-class>controller.appointment.AppointmentRescheduleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppointmentCalendarServlet</servlet-name>
        <servlet-class>controller.appointment.AppointmentCalendarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppointmentDoctorListController</servlet-name>
        <servlet-class>controller.appointment.AppointmentDoctorListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppointmentConfirmServlet</servlet-name>
        <servlet-class>controller.appointment.AppointmentConfirmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMedicalHistory</servlet-name>
        <servlet-class>controller.doctor.UpdateCustomerMedicalHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMedicalHistory</servlet-name>
        <servlet-class>controller.doctor.DeleteCustomerMedicalHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCustomerVisitHistory</servlet-name>
        <servlet-class>controller.doctor.CreateCustomerVisitHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCustomerVisitHistory</servlet-name>
        <servlet-class>controller.doctor.UpdateCustomerVisitHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCustomerVisitHistory</servlet-name>
        <servlet-class>controller.doctor.DeleteCustomerVisitHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDoctorProfile</servlet-name>
        <servlet-class>controller.doctor.GetDoctorProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDoctorProfile</servlet-name>
        <servlet-class>controller.doctor.UpdateDoctorProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordController</servlet-name>
        <servlet-class>controller.HRController.ResetPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewApplication</servlet-name>
        <servlet-class>controller.doctor.ViewApplication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCustomerMedicalHistory</servlet-name>
        <servlet-class>controller.doctor.EditCustomerMedicalHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCustomerVisitHistory</servlet-name>
        <servlet-class>controller.doctor.EditCustomerVisitHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MedicalHistoryExportServlet</servlet-name>
        <servlet-class>controller.doctor.MedicalHistoryExportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisitHistoryExportServlet</servlet-name>
        <servlet-class>controller.doctor.VisitHistoryExportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppointmentActionController</servlet-name>
        <servlet-class>controller.appointment.AppointmentActionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageServiceServlet</servlet-name>
        <servlet-class>controller.HRController.ManageServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasswordController</servlet-name>
        <servlet-class>controller.accesscontrol.PasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>controller.customermanagement.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppointmentDetailsController</servlet-name>
        <servlet-class>controller.appointment.AppointmentDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatBoxController</servlet-name>
        <servlet-class>controller.HRController.ChatBoxController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorCalendarController</servlet-name>
        <servlet-class>controller.doctor.DoctorCalendarController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MedicalHistoryExportPDFServlet</servlet-name>
        <servlet-class>controller.doctor.MedicalHistoryExportPDFServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisitHistoryExportPDFServlet</servlet-name>
        <servlet-class>controller.doctor.VisitHistoryExportPDFServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewStaffApplication</servlet-name>
        <servlet-class>controller.HRController.ViewStaffApplication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditStaffApplication</servlet-name>
        <servlet-class>controller.HRController.EditStaffApplication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionServlet</servlet-name>
        <servlet-class>controller.ChatController.SessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageTypeApplication</servlet-name>
        <servlet-class>controller.AdminController.ManageTypeApplication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditTypeApplication</servlet-name>
        <servlet-class>controller.AdminController.EditTypeApplication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppointmentManagementController</servlet-name>
        <servlet-class>controller.appointment.AppointmentManagementController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HRApptManagementController</servlet-name>
        <servlet-class>controller.HRController.HRApptManagementController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageCertificates</servlet-name>
        <servlet-class>controller.doctor.ManageCertificates</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CertificateCheckDate</servlet-name>
        <servlet-class>controller.doctor.CertificateCheckDate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCertificate</servlet-name>
        <servlet-class>controller.doctor.EditCertificate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageDoctorCertificates</servlet-name>
        <servlet-class>controller.HRController.ManageDoctorCertificates</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditDoctorCertificate</servlet-name>
        <servlet-class>controller.HRController.EditDoctorCertificate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomepageController</servlet-name>
        <servlet-class>controller.Homepage.HomepageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPassword</servlet-name>
        <servlet-class>controller.systemaccesscontrol.ForgetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>controller.systemaccesscontrol.ResetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditTypeCertificate</servlet-name>
        <servlet-class>controller.AdminController.EditTypeCertificate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageTypeCertificate</servlet-name>
        <servlet-class>controller.AdminController.ManageTypeCertificate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListDoctorController</servlet-name>
        <servlet-class>controller.ChatController.ListDoctorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MedicalRecordController</servlet-name>
        <servlet-class>controller.customermanagement.MedicalRecordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvoiceManagementController</servlet-name>
        <servlet-class>controller.financial.InvoiceManagementController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorSalaryStatController</servlet-name>
        <servlet-class>controller.financial.DoctorSalaryStatController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorSalaryChartController</servlet-name>
        <servlet-class>controller.financial.DoctorSalaryChartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvoiceRevenueChartController</servlet-name>
        <servlet-class>controller.financial.InvoiceRevenueChartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchDoctor</servlet-name>
        <servlet-class>controller.AdminController.SearchDoctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorMedicalConsultation</servlet-name>
        <servlet-class>controller.AdminController.DoctorMedicalConsultation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForgetPasswordController</servlet-name>
        <url-pattern>/forgetpassword</url-pattern>
    </servlet-mapping>
    <display-name>SWP391 Web Application</display-name>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.accesscontrol.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.accesscontrol.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.accesscontrol.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewPassword</servlet-name>
        <servlet-class>googleservices.NewPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileUpdateController</servlet-name>
        <servlet-class>controller.HRController.ProfileUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalendarDoctorManageController</servlet-name>
        <servlet-class>controller.HRController.CalendarDoctorManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserController</servlet-name>
        <servlet-class>controller.HRController.EditUserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLoginController</servlet-name>
        <url-pattern>/system/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogoutController</servlet-name>
        <url-pattern>/system/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCustomer</servlet-name>
        <url-pattern>/doctor/SearchCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCustomerMedicalDetail</servlet-name>
        <url-pattern>/doctor/ShowCustomerMedicalDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendApplication</servlet-name>
        <url-pattern>/doctor/SendApplication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateMedicalHistory</servlet-name>
        <url-pattern>/doctor/CreateCustomerMedicalHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMedicalHistory</servlet-name>
        <url-pattern>/doctor/UpdateCustomerMedicalHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMedicalHistory</servlet-name>
        <url-pattern>/doctor/DeleteCustomerMedicalHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCustomerVisitHistory</servlet-name>
        <url-pattern>/doctor/CreateCustomerVisitHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCustomerVisitHistory</servlet-name>
        <url-pattern>/doctor/UpdateCustomerVisitHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCustomerVisitHistory</servlet-name>
        <url-pattern>/doctor/DeleteCustomerVisitHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDoctorProfile</servlet-name>
        <url-pattern>/doctor/GetDoctorProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDoctorProfile</servlet-name>
        <url-pattern>/doctor/UpdateDoctorProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewPassword</servlet-name>
        <url-pattern>/NewPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileUpdateController</servlet-name>
        <url-pattern>/system/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalendarDoctorManageController</servlet-name>
        <url-pattern>/hr/calendarmanage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserController</servlet-name>
        <url-pattern>/hr/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAccountCreateController</servlet-name>
        <url-pattern>/hr/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffAccountListController</servlet-name>
        <url-pattern>/hr/accountlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppointmentDoctorListController</servlet-name>
        <url-pattern>/appointment/doctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppointmentConfirmServlet</servlet-name>
        <url-pattern>/appointment/confirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppointmentCalendarServlet</servlet-name>
        <url-pattern>/appointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppointmentListController</servlet-name>
        <url-pattern>/appointment/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppointmentCancelController</servlet-name>
        <url-pattern>/appointment/cancel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppointmentRescheduleController</servlet-name>
        <url-pattern>/appointment/reschedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewApplication</servlet-name>
        <url-pattern>/doctor/ViewApplication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCustomerMedicalHistory</servlet-name>
        <url-pattern>/doctor/EditCustomerMedicalHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCustomerVisitHistory</servlet-name>
        <url-pattern>/doctor/EditCustomerVisitHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MedicalHistoryExportServlet</servlet-name>
        <url-pattern>/doctor/MedicalHistoryExportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisitHistoryExportServlet</servlet-name>
        <url-pattern>/doctor/VisitHistoryExportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppointmentActionController</servlet-name>
        <url-pattern>/doctor/appointment/action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageServiceServlet</servlet-name>
        <url-pattern>/ManageService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordController</servlet-name>
        <url-pattern>/system/resetpass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasswordController</servlet-name>
        <url-pattern>/changepass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppointmentDetailsController</servlet-name>
        <url-pattern>/doctor/api/appointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorCalendarController</servlet-name>
        <url-pattern>/doctor/calendar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MedicalHistoryExportPDFServlet</servlet-name>
        <url-pattern>/doctor/MedicalHistoryExportPDFServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisitHistoryExportPDFServlet</servlet-name>
        <url-pattern>/doctor/VisitHistoryExportPDFServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewStaffApplication</servlet-name>
        <url-pattern>/hr/ViewStaffApplication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditStaffApplication</servlet-name>
        <url-pattern>/hr/EditStaffApplication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageTypeApplication</servlet-name>
        <url-pattern>/admin/ManageTypeApplication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditTypeApplication</servlet-name>
        <url-pattern>/admin/EditTypeApplication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppointmentManagementController</servlet-name>
        <url-pattern>/doctor/appointmentsmanagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HRApptManagementController</servlet-name>
        <url-pattern>/hr/appointments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageCertificates</servlet-name>
        <url-pattern>/doctor/ManageCertificates</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CertificateCheckDate</servlet-name>
        <url-pattern>/CertificateCheckDate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCertificate</servlet-name>
        <url-pattern>/doctor/EditCertificate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageDoctorCertificates</servlet-name>
        <url-pattern>/hr/ManageDoctorCertificates</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditDoctorCertificate</servlet-name>
        <url-pattern>/hr/EditDoctorCertificate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomepageController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPassword</servlet-name>
        <url-pattern>/system/forgetpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/system/resetpassword</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ajaxServlet</servlet-name>
        <servlet-class>com.vnpay.common.ajaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpayQuery</servlet-name>
        <servlet-class>com.vnpay.common.vnpayQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpayRefund</servlet-name>
        <servlet-class>com.vnpay.common.vnpayRefund</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ajaxServlet</servlet-name>
        <url-pattern>/vnpayajax/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnpayQuery</servlet-name>
        <url-pattern>/vnpayquery/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnpayRefund</servlet-name>
        <url-pattern>/vnpayrefund/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionServlet</servlet-name>
        <url-pattern>/getSessionId</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditTypeCertificate</servlet-name>
        <url-pattern>/admin/EditTypeCertificate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageTypeCertificate</servlet-name>
        <url-pattern>/admin/ManageTypeCertificate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListDoctorController</servlet-name>
        <url-pattern>/getdoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MedicalRecordController</servlet-name>
        <url-pattern>/record</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvoiceManagementController</servlet-name>
        <url-pattern>/finance/InvoiceManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorSalaryStatController</servlet-name>
        <url-pattern>/finance/doctorsalary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorSalaryChartController</servlet-name>
        <url-pattern>/finance/DoctorSalaryChart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvoiceRevenueChartController</servlet-name>
        <url-pattern>/finance/revenue</url-pattern>
    </servlet-mapping>
</web-app>
