<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ForgetPasswordController</servlet-name>
        <servlet-class>controller.accesscontrol.ForgetPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAccountCreateController</servlet-name>
        <servlet-class>controller.HRController.UserAccountCreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffAccountListController</servlet-name>
        <servlet-class>controller.HRController.StaffAccountListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>controller.customermanagement.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCustomer</servlet-name>
        <servlet-class>controller.doctor.SearchCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLoginController</servlet-name>
        <servlet-class>controller.systemaccesscontrol.UserLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogoutController</servlet-name>
        <servlet-class>controller.systemaccesscontrol.UserLogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCustomerMedicalDetail</servlet-name>
        <servlet-class>controller.doctor.ShowCustomerMedicalDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendApplication</servlet-name>
        <servlet-class>controller.doctor.SendApplication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateMedicalHistory</servlet-name>
        <servlet-class>controller.doctor.CreateCustomerMedicalHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppointmentListController</servlet-name>
        <servlet-class>controller.appointment.AppointmentListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppointmentCancelController</servlet-name>
        <servlet-class>controller.appointment.AppointmentCancelController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppointmentRescheduleController</servlet-name>
        <servlet-class>controller.appointment.AppointmentRescheduleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppointmentCalendarServlet</servlet-name>
        <servlet-class>controller.appointment.AppointmentCalendarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppointmentDoctorListController</servlet-name>
        <servlet-class>controller.appointment.AppointmentDoctorListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppointmentConfirmServlet</servlet-name>
        <servlet-class>controller.appointment.AppointmentConfirmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMedicalHistory</servlet-name>
        <servlet-class>controller.doctor.UpdateCustomerMedicalHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMedicalHistory</servlet-name>
        <servlet-class>controller.doctor.DeleteCustomerMedicalHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCustomerVisitHistory</servlet-name>
        <servlet-class>controller.doctor.CreateCustomerVisitHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCustomerVisitHistory</servlet-name>
        <servlet-class>controller.doctor.UpdateCustomerVisitHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCustomerVisitHistory</servlet-name>
        <servlet-class>controller.doctor.DeleteCustomerVisitHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDoctorProfile</servlet-name>
        <servlet-class>controller.doctor.GetDoctorProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDoctorProfile</servlet-name>
        <servlet-class>controller.doctor.UpdateDoctorProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewApplication</servlet-name>
        <servlet-class>controller.doctor.ViewApplication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCustomerMedicalHistory</servlet-name>
        <servlet-class>controller.doctor.EditCustomerMedicalHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCustomerVisitHistory</servlet-name>
        <servlet-class>controller.doctor.EditCustomerVisitHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MedicalHistoryExportServlet</servlet-name>
        <servlet-class>controller.doctor.MedicalHistoryExportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisitHistoryExportServlet</servlet-name>
        <servlet-class>controller.doctor.VisitHistoryExportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForgetPasswordController</servlet-name>
        <url-pattern>/forgetpassword</url-pattern>
    </servlet-mapping>
    <display-name>SWP391 Web Application</display-name>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.accesscontrol.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.accesscontrol.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.accesscontrol.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewPassword</servlet-name>
        <servlet-class>googleservices.NewPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileUpdateController</servlet-name>
        <servlet-class>controller.HRController.ProfileUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalendarDoctorManageController</servlet-name>
        <servlet-class>controller.HRController.CalendarDoctorManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserController</servlet-name>
        <servlet-class>controller.HRController.EditUserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLoginController</servlet-name>
        <url-pattern>/system/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogoutController</servlet-name>
        <url-pattern>/system/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCustomer</servlet-name>
        <url-pattern>/doctor/SearchCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCustomerMedicalDetail</servlet-name>
        <url-pattern>/doctor/ShowCustomerMedicalDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendApplication</servlet-name>
        <url-pattern>/doctor/SendApplication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateMedicalHistory</servlet-name>
        <url-pattern>/doctor/CreateCustomerMedicalHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMedicalHistory</servlet-name>
        <url-pattern>/doctor/UpdateCustomerMedicalHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMedicalHistory</servlet-name>
        <url-pattern>/doctor/DeleteCustomerMedicalHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCustomerVisitHistory</servlet-name>
        <url-pattern>/doctor/CreateCustomerVisitHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCustomerVisitHistory</servlet-name>
        <url-pattern>/doctor/UpdateCustomerVisitHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCustomerVisitHistory</servlet-name>
        <url-pattern>/doctor/DeleteCustomerVisitHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDoctorProfile</servlet-name>
        <url-pattern>/doctor/GetDoctorProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDoctorProfile</servlet-name>
        <url-pattern>/doctor/UpdateDoctorProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewPassword</servlet-name>
        <url-pattern>/NewPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileUpdateController</servlet-name>
        <url-pattern>/system/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalendarDoctorManageController</servlet-name>
        <url-pattern>/hr/calendarmanage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserController</servlet-name>
        <url-pattern>/hr/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAccountCreateController</servlet-name>
        <url-pattern>/hr/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffAccountListController</servlet-name>
        <url-pattern>/hr/accountlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppointmentDoctorListController</servlet-name>
        <url-pattern>/appointment/doctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppointmentConfirmServlet</servlet-name>
        <url-pattern>/appointment/confirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppointmentCalendarServlet</servlet-name>
        <url-pattern>/appointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppointmentListController</servlet-name>
        <url-pattern>/appointment/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppointmentCancelController</servlet-name>
        <url-pattern>/appointment/cancel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppointmentRescheduleController</servlet-name>
        <url-pattern>/appointment/reschedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewApplication</servlet-name>
        <url-pattern>/doctor/ViewApplication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCustomerMedicalHistory</servlet-name>
        <url-pattern>/doctor/EditCustomerMedicalHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCustomerVisitHistory</servlet-name>
        <url-pattern>/doctor/EditCustomerVisitHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MedicalHistoryExportServlet</servlet-name>
        <url-pattern>/doctor/MedicalHistoryExportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisitHistoryExportServlet</servlet-name>
        <url-pattern>/doctor/VisitHistoryExportServlet</url-pattern>
    </servlet-mapping>
</web-app>
