table {
    border: 2px solid #ddd;
    border-collapse: collapse;
    margin: 20px auto;
    background-color: white;
    padding: 5px;
}
th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}
td:hover{
    border: 1px solid #ddd;
}
th{
    background-color: #ccc;
}
.add-btn {
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: #4CAF50;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-left: 2.5%;
    text-align: center;
}

.add-btn:hover {
    background-color: #45a049;
}

.back-btn {
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: #007bff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    border: none;
}

.back-btn:hover {
    background-color: #0056b3;
}

.edit-btn {
    display: flex;
    justify-content: center;
    background-color: #ffd700;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
}

.edit-btn:hover {
    background-color: #ffc107;
}

.delete-btn {
    display: flex;
    justify-content: center;
    background-color: #ff4d4d;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-btn:hover {
    background-color: #e60000;
}
.export-btn {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-left: 10px;
}

.export-btn:hover {
    background-color: #0056b3;
}


.table-data{
    width: 100%;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    margin: 50px 0;
}
.title{
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.searchForm {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 60%;
    margin:5px auto;
}

.submit-container {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.filter-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
    column-gap: 2%;
    row-gap: 10px;
    justify-content: center;
}

.filter-item {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.filter-item input[type="text"],
.filter-item input[type="date"],
.filter-item select {
    width: 100%;
    height: 40px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.filter-item span {
    font-weight: bold;
    margin-bottom: 5px;
}
.pre-next-Btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.page-link-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* Nút phân trang */
.page-link {
    display: inline-block;
    padding: 8px 16px;
    background-color: #f8f9fa;
    border-radius: 5px;
    margin: 0;
    text-decoration: none;
    color: #333;
    border: 1px solid #ccc;
    transition: 0.3s;
}

.page-link:hover,
.page-link.active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

.page-link-container a {
    margin: 0 5px;
}

.edit-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 60%;
    margin: 5px auto;
}

.edit-form label {
    font-weight: bold;
    margin-bottom: 5px;
}

.edit-form input[type="text"],
.edit-form input[type="datetime-local"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

textarea.form-control {
    resize: vertical;
}
.form-control{
    background-color: white;
}